.jumboStyle{
    color: white;
    text-align: center;
    font-family: Lucida Console;
    background-image: url(../../images/news1.png);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

.routeBtn {
    margin: 5px 10px 0 0;
    background: rgb(242, 236, 235);
    color: rgb(77, 73, 72);
    border-radius: 4px;
    border: 1px solid rgb(77, 73, 72) 
}
